name: Run unit tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install required tools
        run: sudo apt update && sudo apt install -y catch2 gcc golang-go curl make

      - name: Run unit tests
        run: ./run_unit_tests.sh

      - name: Build project (for E2E)
        run: |
          chmod +x build.sh
          ./build.sh

      - name: Run E2E tests
        run: |
          chmod +x tests/e2e/test_calc.py
          python3 tests/e2e/test_calc.py
